# Chat GPT 
DOMAIN-SUFFIX,ai.com,ai
DOMAIN-SUFFIX,openai.com,ai
DOMAIN-SUFFIX,challenges.cloudflare.com,ai
DOMAIN-SUFFIX,chat.openai.com.cdn.cloudflare.net,ai
DOMAIN-SUFFIX,openaiapi-site.azureedge.net,ai
DOMAIN-SUFFIX,openaicom-api-bdcpf8c6d2e9atf6.z01.azurefd.net,ai
DOMAIN-SUFFIX,openaicomproductionae4b.blob.core.windows.net,ai
DOMAIN-SUFFIX,production-openaicom-storage.azureedge.net,ai
DOMAIN-SUFFIX,auth0.com,ai
DOMAIN-SUFFIX,sentry.io,ai
DOMAIN-SUFFIX,identrust.com,ai
DOMAIN-SUFFIX,stripe.com,ai
DOMAIN-KEYWORD,openai,ai

# BING
DOMAIN-SUFFIX,bing.com,ai
DOMAIN-SUFFIX,bing.com.cn,ai
DOMAIN-SUFFIX,bing.net,ai
DOMAIN-SUFFIX,bingads.com,ai
DOMAIN-SUFFIX,bingapis.com,ai
DOMAIN-SUFFIX,bingagencyawards.com,ai

# Gooogle Bard
DOMAIN,bard.google.com,ai
DOMAIN,labs.google.com,ai
DOMAIN,labs1.google.com,ai
DOMAIN-SUFFIX,google.com,ai
DOMAIN-SUFFIX,apis.google.com,ai
DOMAIN-SUFFIX,in.appcenter.ms,ai
DOMAIN-SUFFIX,ogs.google.com,ai
DOMAIN-SUFFIX,www.google.com,ai

# Claude
DOMAIN-SUFFIX,claude.ai,ai
DOMAIN-SUFFIX,anthropic.com,ai

# Poe
DOMAIN-SUFFIX,poe.com,ai
DOMAIN-SUFFIX,poecdn.net,ai

# ai...
DOMAIN-SUFFIX,forefront.ai,ai
