name: Auto Update

on:
  schedule:
    - cron: '0 7 * * *'  # 每天早上7点执行
  workflow_dispatch:  # 允许手动触发    

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'  # 使用稳定的 Python 3.11

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install requests

    - name: Run Python script
      run: |
        python Actions/quanx.py
        python Actions/clash.py
      
    - name: Commit and Push
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git add .
        if [ -n "$(git status --porcelain)" ]; then
          git commit -m "Auto Update: $(date "+%Y/%m/%d %H:%M:%S")"
          git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}.git
          git push
        else
          echo "No changes to commit"
        fi